<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/angular/angular.min.js"></script>
  </head>
  <body ng-app="ljapan">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
    	{{ 1+2 }}
    </div>
    <script src="/vendor/ljapan.js"></script>
  </body>
</html>
